---
const personalImageAlt = "Lucas Villalva";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-black dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-600 dark:[&>p>strong]:text-yellow-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Lucas Villava. Empecé en la programación en un Informatorio, en
      el año 2023. En el cual <strong
        >lideraba un equipos de programadores.</strong
      >
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/Me.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-2 ring-black/70 dark:ring-yellow-500 ring-yellow-600"
    style="object-position: 50% 50%"
  />
</article>
