<header class= "flex justify-between py-3w-[1200px]">
    <img class="rounded-full w-12 h-12" src="./public myPhoto" alt="My Photo" srcset="">
    <nav>
        <a href="/">Home</a>
        <a href="/abaut">Abaut</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>